body {
  font-size:80%;
}
img {
	padding-right:1px
}
table {
  margin:0px;
  padding:0px;
  font-size:100%;
}
table.month_grid {
  border-spacing:5px;
}
select {
  margin-top:3px
}
td {
	vertical-align:top;
  text-align:right;
}
.month {
  margin-left:8px;
  margin-right:8px;
  font-size:150%;
  font-weight:bold;
	color:black;
}
.monthgrid {
  border-collapse:separate;
  border-spacing:7px;
  width:99%;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
  color:#808080;
}
.month {
  border-collapse:separate;
  border-spacing:7px;
  width:98%;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.dtext {
  color:#808080;
	text-align:left;
}
.dhead {
  color:black;
  font-size:130%;
  padding-left:5px;
  font-weight:bold;
  border-bottom:1px solid #C0C0C0;
	text-align:left;
}
.dheadtoday {
  font-size:130%;
  padding-left:5px;
  font-weight:bold;
	color:white;
  background-color:#C00000;
  border-bottom:1px solid #C00000;
	text-align:left;
}
.dheadthisweek {
  color:black;
  font-size:130%;
  padding-left:5px;
  font-weight:bold;
	background-color:#FFC0C0;
  border-bottom:1px solid #C00000;
	text-align:left;
}
.dheadnomonth {
  padding:0px;
}
.daynomonth {
  width:20%;
}
.day {
  text-align:left;
  width:20%;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:0px;
  padding-right:0px;
}
.daycur {
  text-align:left;
  vertical-align:top;
  width:20%;
  padding_top:5px;
  padding-bottom:5px;
  background-color:white;
}
.callout {
  display: none;
  position:absolute;
  font-size:90%;
	background-color: white;
  width: 290px;
	-moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.callout td {
  padding:4px;
	text-align:left;
}
.field {
  vertical-align:top;
  width:70px;
	white-space:nowrap;
	color:#606060;
}
.warning {
  color:#C00000;
  padding-left:5px;
  padding-right:5px;
  display:none;
}
.warn_icon {
	white-space:nowrap;
	vertical-align:top;
	width:16px;
}
.notch {
	position: absolute;
  top: -10px;
  left: 20px;
	margin: 0;
	border-top: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid white;
	padding: 0;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
}
.border-callout {
	border: 1px solid #808080;
	padding: 3px;
}
.border-callout .border-notch {
	border-bottom-color: #606060;
	top: -11px;
}
.p {
  text-align:left;
	vertical-align:top;
	width: 90%;
}
.pd {
	overflow:hidden;
	width:100%;
	height:2.3em;
}
