.dialog_header {
  background-color:white;
  text-align:left;
  font-size:160%;
  font-weight:bold;
  color:#4F81BD;
}

.dialog_body {
  background-color:#EEF4FF;
}

.dialog_border {
  border:1px solid #95AEC8;
  border-collapse: collapse;
  margin-left:auto;
  margin-right:auto;
}

.dialog_border td {
  padding:4px;
}
