body {
  margin:6px;
  font-size:80%
}
ul {
  list-style-type:square;
  color:#FF9900
}
a:link.title {
  color:#0560A6;
  font-weight:bold
}
a:visited.title {
  color:#0560A6;
  font-weight:bold
}
a:link.page {
  color:white
}
a:visited.page {
  color:white
}
a.path {
  color:#808080 !important
}
.row1 {
  border-top:1px solid #A6CBEB;
  padding:2px;
  vertical-align:top;
  width:24px
}
.row2 {
  border-top:1px solid #A6CBEB;
  padding:2px;
  padding-bottom:10px
}