body {
	margin:4px;
}
html, body {
	font-size:90%;
	height:100%;
	background-color: #FCE699;
}
textarea {
	border: 1px solid #E6B10D;
	background-color: transparent;
	width: 99%;
	height: 275px;
}
select {
	width: 99%;
}