body {
  background-color:#F0F0F0;
}
table {
  text-align:left
}
.r1 {
  text-indent:-23px;
  padding-left:23px;
  background-color:white;
}
.r2 {
  text-indent:-23px;
  padding-left:23px;
  background-color:#FFBD69;
}
.r1disabled {
  text-indent:-23px;
  padding-left:23px;
  background-color:white;
  color:#808080
}
.r2disabled {
  text-indent:-23px;
  padding-left:23px;
  background-color:#DDDDDD;
  color:#808080;
}
select {
  margin:0px;
  padding:0px;
}
input[type="text"] {
  margin:0px;
}
extarea, input[type=text], select, textarea, input[type=password] {
  border: 1px solid #ABADB3;
}
.headbar {
  background-color: #EEEEEE;
	border-bottom: 1px solid #E2E4E7;
}
