<HTML>
	<HEAD>
		<meta http-equiv="x-ua-compatible" content="IE=9">
        <script src="mee/jquery/jquery-1.6.1.js"></script>
        <script src="mee/js/mee_src.js"></script>
	</HEAD>

	<BODY>

        <div class="mee">P=2pieG/3*P^2*R^2</div>
        <div class="mee">\frac{\partial v_x}{\partial x} =-\frac{2x^2}{(x^2+y^2+z^2)^2}+\frac{1}{x^2+y^2+z^2}  = \frac{-2x^2}{r^4} + \frac{1}{r^2}</div>
        <div class="mee">\frac{\partial v_y}{\partial y} =-\frac{2y^2}{r^4}+\frac{1}{r^2}</div>
        <div class="mee">=\frac{-2x^2-2y^2-2z^2}{r^4}+\frac{3}{r^2}=\frac{-2r^2}{r^4}+\frac{3}{r^2}=\frac{1}{r^2}</div>
        <div class="mee">f(x) = \frac{ \int_{-\infty}^\infty \sin(x^2)\,dx}{\Gamma(x)}</div>
        <div class="mee">{\lfloor}\int_{4}^{4+4} cosh (\theta + \theta + \theta){\rfloor}</div>
        <div class="mee">\begin{align*} 
\nabla \times \vec E = -\frac{\partial \vec B}{\partial t} 
\\ 
\nabla \times \vec H = \vec J +\frac{\partial \vec D}{\partial t} 
\end{align*}</div>
        <div class="mee">t= \frac {\frac{2\frac{2\sqrt{2}Vo}{2}\frac{2\sqrt{2}Vo}{2}  \frac{2\sqrt{2}Vo}{2}\sqrt{2}Vo}{2}\frac{2\sqrt{2}  Vo}{2}\frac{2\sqrt{2}Vo}{2}\frac{2\sqrt{2}Vo}{2} }{g}</div>
        <div class="mee">t= \frac{Vo\sqrt{2}}{g}</div>
        <div class="mee">\begin{array}{r l r l} 
u &= \ln x \quad & dv &= x\,dx \\ 
du &= \frac{1}{x}\,dx & v &= \frac{1}{2} x^2 
\end{array}</div>
        <div class="mee">\langle x^1 | x^2 \rangle = \langle 0 | \varphi (x^1) \varphi ^{\dagger} (x^2) | 0 \rangle = \delta (x^1 - x^2)</div>
        <div class="mee">\langle p_1 | p_2 \rangle = \langle 0 | a(p_1) a^{\dagger} (p_2) | 0 \rangle = \delta (p_1 - p_2)</div>
        <div class="mee">(AB)C=([a_{ij}]\times[b_{ij}])\times[c_{ij}]=[\sum_{k=1}^{n}a_{ik}b_{kj}]\times[c_{ij}]=[\sum_{l=1}^{p}(\sum_{k=1}^{n}a_{ik}b_{kl})c_{lj}]=[\sum_{l=1}^{p}(\sum_{k=1}^{n}a_{ik}b_{kl}c_{lj})]</div>
        <div class="mee">=[\sum_{k=1}^{n}(\sum_{l=1}^{p}a_{ik}b_{kl}c_{lj})]=[\sum_{k=1}^{n}a_{ik}(\sum_{l=1}^{p}b_{kl}c_{lj})]=[a_{ik}]\times[\sum_{l=1}^{p}b_{kl}c_{lj}]=[a_{ik}]\times([b_{ik}]\times[c_{ik}])=A(BC)</div>
        <div class="mee">\int_{1}^{\sqrt[3]{3}}z^2dz \times \cos{\frac{3\pi}{9}}=\ln{\sqrt[3]{e}}</div>
        <div class="mee">\int \frac{3}{4+3x^2}dx=\frac{1}{2}\sqrt{3}\arctan(\frac{x\sqrt{3}}{2})+C</div>
        <div class="mee">\begin{equation*}\begin{split}\mbox{Variable} \quad &\mbox{Meaning}\\ 
Q[i,k] \quad &\mbox{At time i the read-write head blah blah blah}\\ 
&\mbox{blah blah blah}\\ 
H[i,j] \quad &\mbox{At time i}\end{split}\end{equation*}</div>
        <div class="mee">\begin{array}{ll}\mbox{Variable} & \mbox{Meaning}\\ 
Q[i,k] &\mbox{At time i, M is in state}\, q_k\\ 
H[i,j] &\mbox{At time i, the read-write head}\\ 
&\mbox{is scanning tape square j}\\ 
S[i,j,k] &\mbox{At time i, the contents of}\\ 
&\mbox{tape square j is symbol}\, s_k\end{array}</div>
        <div class="mee">\begin{array}P=A(1+\frac{r}{100})^n 
\\ 
\sqrt[n]{\frac{P}{A}}=\frac{r+100}{100} 
\\ 
r=100\sqrt[n]{\frac{P}{A}}-100\end{array}</div>
        <div class="mee">I = \sqrt {[\frac {22.6T + 0.088t -490.58}  {5 * 10^{-5} * t}] * t_{0}}     Amp</div>
        <div class="mee">A=60+(S+\Delta P) \times \frac{L_2}{L_1}</div>
        <div class="mee">dt = \frac{da}{H_0 \left(\frac{\Omega_{m,0}}{a} + a^2 \Omega_{\Lambda,0}\right)^{\frac{1}{2}}}</div>
        <div class="mee">\begin{gathered} 
  ax^2  + bx + c = 0,\\ 
  x = \frac{{ - b \pm \sqrt {b^2  - 4ac} }} 
{{2a}} \hfill \\  
\end{gathered}</div>
        <div class="mee">{\left\{ \begin{gathered} 
  x = r\left( {\theta  - \sin \theta } \right) \hfill \\ 
  y = r\left( {1 - \cos \theta } \right) \hfill \\  
\end{gathered}  \right\}}</div>
        <div class="mee">\left(\begin{array}{cc}\frac{\partial u}{\partial x}&\frac{\partial \nu}{\partial x}\\ \frac{\partial \nu}{\partial x}&\frac{\partial u}{\partial x}\end{array}\right)</div>
        <div class="mee">\phi(x,y)</div>
        <div class="mee">\frac{\partial^2 \phi}{\partial u^2} + \frac{\partial^2 \phi}{\partial \nu^2} = 0</div>
        <div class="mee">w = u(x,y) + i\nu(x,y)</div>
        <div class="mee">\frac{\partial \phi}{\partial x} = \frac{\partial \phi}{\partial u} \frac{\partial u}{\partial x} + \frac{\partial \phi}{\partial \nu} \frac{\partial \nu}{\partial x}</div>
        <div class="mee">\frac{\partial \phi}{\partial y} = \frac{\partial \phi}{\partial u} \frac{\partial u}{\partial y} + \frac{\partial \phi}{\partial \nu} \frac{\partial \nu}{\partial y}</div>
        <div class="mee">\frac{\partial^2 \phi}{\partial x^2} = \frac{\partial \phi}{\partial u} \frac{\partial^2 u}{\partial x^2} + \left ( \frac{\partial^2 \phi}{\partial u^2} \frac{\partial u}{\partial x} + \frac{\partial^2 \phi}{\partial \nu \partial u} \frac{\partial \nu}{\partial x} \right ) \frac{\partial u}{\partial x} + \frac{\partial \phi}{\partial \nu} \frac{\partial^2 \nu}{\partial x^2} + \left ( \frac{\partial^2 \phi}{\partial u \partial \nu} \frac{\partial u}{\partial x} + \frac{\partial^2 \phi}{\partial \nu} \frac{\partial \nu}{\partial x} \right ) \frac{\partial \nu}{\partial x}</div>
        <div class="mee">\frac{\partial^2 \phi}{\partial x^2} + \frac{\partial^2 \phi}{\partial y^2} = \frac{\partial \phi}{\partial u} \left ( \frac{\partial^2 u}{\partial x^2} + \frac{\partial^2 u}{\partial y^2} \right ) + \frac{\partial^2 \phi}{\partial u^2} \left [ \left ( \frac{\partial u}{\partial x} \right )^2 + \left ( \frac{\partial u}{\partial y} \right )^2 \right ] + 2  \frac{\partial^2 \phi}{\partial u \partial \nu} \left ( \frac{\partial u}{\partial x} \frac{\partial \nu}{\partial y} \right ) + \frac{\partial \phi}{\partial \nu} \left ( \frac{\partial^2 \nu}{\partial x^2} + \frac{\partial^2 \nu}{\partial y^2} \right ) + \frac{\partial^2 \phi}{\partial \nu^2} \left [ \left ( \frac{\partial \nu}{\partial x} \right )^2 + \left ( \frac{\partial \nu}{\partial y} \right )^2 \right ]</div>
        <div class="mee">\frac{\partial^2 \phi}{\partial x^2} + \frac{\partial^2 \phi}{\partial y^2} = \frac{\partial^2 \phi}{\partial u^2} \left [ \left ( \frac{\partial \nu}{\partial x} \right )^2 + \left ( -\frac{\partial \nu}{\partial x} \right )^2 \right ] + \frac{\partial^2 \phi}{\partial \nu^2} \left [ \left ( \frac{\partial \nu}{\partial x} \right )^2 + \left ( \frac{\partial u}{\partial x} \right )^2 \right ] = \left [ \left ( \frac{\partial u}{\partial x} \right )^2 + \left ( \frac{\partial \nu}{\partial x} \right )^2 \right ] \left ( \frac{\partial^2 \phi}{\partial u^2} + \frac{\partial^2 \phi}{\partial \nu} \right ) = |f'(z)|^2 \left ( \frac{\partial^2 \phi}{\partial u^2} + \frac{\partial^2 \phi}{\partial \nu^2} \right )</div>
        <div class="mee">\int_{0}^{\frac{\pi}{2}} \log  \cos \Omega \ d \Omega</div>
        <div class="mee">f(x) = \sin x,  \mbox{if} \ x \ \epsilon \ (0, \frac{\pi}{2})</div>
        <div class="mee">\begin{array}{1|c|c|c|c|c|} 
\text{Fixed Point}&\text{Jacobian}&\text{Eigenvalues}&\text{Ei  genvectors}&\text{type}\\ 
\hline 
(0,0)& 
\left(\begin{array}{cc}1.5 & 0 \\ 0 & 2 \end{array}\right)& 
2,1.5 & 
\left(\begin{array}{ca}0 \\ 1 \end{array}\right) 
\left(\begin{array}{ca}1 \\ 0 \end{array}\right)& 
\text{Source}\\ 
\hline 
 
(0,2)& 
\left(\begin{array}{cc}0.5 & 0 \\ -1.5 & -2 \end{array}\right)& 
-2,0.5 & 
\left(\begin{array}{ca}0 \\ 1 \end{array}\right) 
\left(\begin{array}{ca}0.86 \\ -0.51 \end{array}\right)& 
\text{Saddle}\\ 
\hline 
 
(1.5,0)& 
\left(\begin{array}{cc}-1.5 & -0.75 \\ 0 & 0.88 \end{array}\right)& 
-1.5,0.88 & 
\left(\begin{array}{ca}1 \\ 0 \end{array}\right) 
\left(\begin{array}{ca}-0.3 \\ 0.95 \end{array}\right)& 
\text{Saddle}\\ 
\hline 
 
(4/5,7/5)& 
\left(\begin{array}{cc}-0.8 & -0.4 \\ -1.05 & -1.4 \end{array}\right)& 
-1.8,-0.38 & 
\left(\begin{array}{ca}0.37 \\ 0.93 \end{array}\right) 
\left(\begin{array}{ca}0.69 \\ -0.72 \end{array}\right)& 
\text{Sink}\\ 
\hline 
 
\end{array}</div>    </BODY>
</HTML>
